.About {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    margin-bottom: 150px;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.imgs img {
    padding-top: 100px;
    min-width: 200px;
    width: 60%;
    height: auto;
}

.about-text {
    padding-left: 10px;
    text-align: left;
    width: 50%;
    height: 100%;
}

.about-text h1 {
    color: #f26223;
    padding-bottom: 50px;
    font-size: 3rem;
}

.about-text p {
    color: #133c67;
    font-weight: bolder;
}

.about-text h1 span {
    text-decoration: underline;
}

.about-text p {
    width: 80%;
    font-size: 1.2rem;
}

.about-text button {
    display: flex;
    align-items: center;
    border: 1px solid #f26223;
    background-color: white;
    color: #f26223;
    padding: 10px;
    font-size: 1rem;
}


.about-text button:hover {
    background-color: #f26223;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
    .imgs img {
        width: 80%;
        height: auto;
    }

    .about-text h1 {
        padding-bottom: 10px;
    }

    .about-text p {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .About {
        flex-direction: column;
    }

    .imgs {
        width: 95%;
    }

    .about-text {
        width: 95%;
        text-align: center;
    }

    .imgs img {
        width: 100%;
        height: auto;
    }

    .about-text h1 {
        padding-bottom: 10px;
    }

    .about-text p {
        width: 95%;
    }
}