.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.header h2 {
    color: #f26223;
    padding-bottom: 50px;
    font-size: 3rem;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contacts h4 {
    color: #f26223;
    font-size: 1.5rem;
}