.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 2rem;
    margin-top: 100px;
    margin-bottom: 20px;
}

.header h2 {
    text-align: center;
    color: #f26223;
    padding-bottom: 50px;
    font-size: 3rem;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contacts h4 {
    text-align: center;
    color: #f26223;
    font-size: 1.5rem;
}

@media screen and (max-width: 750px) {
    .contacts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}